<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">

<!-- 

  Solid Angle Arnold Language Module for BBEdit and TextWrangler
  Version 1.1 - Dec 7, 2013

  Created by Andrew Hazelden
  andrew@andrewhazelden.com
  http://www.andrewhazelden.com
  
  Released under a Creative Commons Attribution-ShareAlike License:
	<http://creativecommons.org/licenses/by-sa/2.0/>

  To install, copy here:
    
      ~/Library/Application Support/BBEdit/Language Modules/

  or here:

    ~/Library/Application Support/TextWrangler/Language Modules/

  and relaunch BBEdit or TextWrangler.

-->

<dict>
	<key>BBEditDocumentType</key>
	<string>CodelessLanguageModule</string>

	<key>BBLMColorsSyntax</key>
	<true/>

	<key>Copyright</key>
	<string>Copyright © 2013, Andrew Hazelden</string>
	
	<key>Author</key>
	<string>Andrew Hazelden</string>
	
	<key>Version</key>
	<string>1.0</string>

	<key>BBLMIsCaseSensitive</key>
	<false/>

	<key>BBLMLanguageCode</key>
	<string>ASS</string>

	<key>BBLMLanguageDisplayName</key>
	<string>Arnold</string>

	<key>BBLMScansFunctions</key>
	<false/>
  
	<key>BBLMSuffixMap</key> 
	<array> 
	<dict> 
	  <key>BBLMLanguageSuffix</key> 
	  <string>.ass</string>
	</dict>
	</array> 
 
	<key>BBLMPreferredFilenameExtension</key>
	<string>ass</string>

	<key>BBLMSupportsTextCompletion</key>
	<true/>

	<key>BBLMCommentLineDefault</key>
	<string>#</string>

	<key>BBLMKeywordList</key>
	<array>
    <!-- Arnold Data Types Start -->
		<string>ARRAY</string>
		<string>BOOL</string>
		<string>BYTE</string>
		<string>ENUM</string>
		<string>FLOAT</string>
		<string>INT</string>
		<string>LONG</string>
		<string>MATRIX</string>
		<string>NODE</string>
		<string>POINT</string>
		<string>POINT2</string>
		<string>POINTER</string>
		<string>RGB</string>
		<string>RGBA</string>
		<string>STRING</string>
		<string>UINT</string>
		<string>VECTOR</string>
		<string>b85BYTE</string>
		<string>b85FLOAT</string>
		<string>b85POINT</string>
		<string>b85POINT2</string>
		<string>b85UINT</string>
		<string>b85VECTOR</string>
		<string>catclark</string>
		<string>constant</string>
		<string>indexed</string>
		<string>light</string>
		<string>noise_disp</string>
		<string>object</string>
		<string>rgbPP</string>
		<string>uniform</string>
		<string>varying</string>
		<string>vertices</string>
    <!-- Arnold Data Types Start -->

    <!-- Arnold Nodes Start -->
		<string>MayaBlendColors</string>
		<string>MayaBrownian</string>
		<string>MayaBulge</string>
		<string>MayaChecker</string>
		<string>MayaClamp</string>
		<string>MayaCloth</string>
		<string>MayaCloud</string>
		<string>MayaCondition</string>
		<string>MayaContrast</string>
		<string>MayaDoubleShadingSwitch</string>
		<string>MayaEnvSphere</string>
		<string>MayaFile</string>
		<string>MayaFluidData</string>
		<string>MayaFluidTexture2D</string>
		<string>MayaFractal</string>
		<string>MayaGammaCorrect</string>
		<string>MayaGrid</string>
		<string>MayaHair</string>
		<string>MayaHsvToRgb</string>
		<string>MayaImagePlane</string>
		<string>MayaLayeredShader</string>
		<string>MayaLayeredTexture</string>
		<string>MayaLuminance</string>
		<string>MayaMultiplyDivide</string>
		<string>MayaNormalDisplacement</string>
		<string>MayaPlace2DTexture</string>
		<string>MayaPlusMinusAverage3D</string>
		<string>MayaProjection</string>
		<string>MayaQuadShadingSwitch</string>
		<string>MayaRamp</string>
		<string>MayaRemapColor</string>
		<string>MayaRemapHsv</string>
		<string>MayaReverse</string>
		<string>MayaRgbToHsv</string>
		<string>MayaSamplerInfo1D</string>
		<string>MayaSamplerInfo2D</string>
		<string>MayaSamplerInfo3D</string>
		<string>MayaSetRange</string>
		<string>MayaShadingEngine</string>
		<string>MayaSingleShadingSwitch</string>
		<string>MayaSnow</string>
		<string>MayaSolidFractal</string>
		<string>MayaStucco</string>
		<string>MayaSurfaceShader</string>
		<string>MayaTripleShadingSwitch</string>
		<string>MayaVolumeNoise</string>
		<string>XSIAmbientOcclusion</string>
		<string>ambient_light</string>
		<string>ambient_occlusion</string>
		<string>barndoor</string>
		<string>blackman_harris_filter</string>
		<string>box</string>
		<string>box_filter</string>
		<string>bump2d</string>
		<string>bump3d</string>
		<string>catrom2d_filter</string>
		<string>catrom_filter</string>
		<string>closest_filter</string>
		<string>cone</string>
		<string>cone_filter</string>
		<string>cook_filter</string>
		<string>cubic_filter</string>
		<string>curves</string>
		<string>cyl_camera</string>
		<string>cylinder</string>
		<string>cylinder_light</string>
		<string>disk</string>
		<string>disk_filter</string>
		<string>disk_light</string>
		<string>distant_light</string>
		<string>driver_deepexr</string>
		<string>driver_display</string>
		<string>driver_exr</string>
		<string>driver_houdini</string>
		<string>driver_jpeg</string>
		<string>driver_null</string>
		<string>driver_png</string>
		<string>driver_tiff</string>
		<string>dso</string>
		<string>farthest_filter</string>
		<string>fisheye_camera</string>
		<string>flat</string>
		<string>fog</string>
		<string>gaussian_filter</string>
		<string>ginstance</string>
		<string>gobo</string>
		<string>hair</string>
		<string>heatmap_filter</string>
		<string>image</string>
		<string>implicit</string>
		<string>lambert</string>
		<string>light_blocker</string>
		<string>light_decay</string>
		<string>map_lookup_color</string>
		<string>material_constant</string>
		<string>material_lambert</string>
		<string>material_phong</string>
		<string>mayaBump2D</string>
		<string>mayaFluid</string>
		<string>mayaMarble</string>
		<string>mesh_light</string>
		<string>mib_color_intensity</string>
		<string>mitnet_filter</string>
		<string>motion_vector</string>
		<string>noise</string>
		<string>nurbs</string>
		<string>options</string>
		<string>ortho_camera</string>
		<string>override</string>
		<string>persp_camera</string>
		<string>photometric_light</string>
		<string>physical_sky</string>
		<string>plane</string>
		<string>point_light</string>
		<string>points</string>
		<string>polymesh</string>
		<string>procedural</string>
		<string>quad_light</string>
		<string>ray_switch</string>
		<string>renderview_display</string>
		<string>shadowCatcher</string>
		<string>sib_image_clip</string>
		<string>sib_incidence_v2</string>
		<string>sib_scalar_to_color</string>
		<string>sib_texturelayer</string>
		<string>sinc_filter</string>
		<string>single_layer_driver</string>
		<string>skin</string>
		<string>skin_sss</string>
		<string>sky</string>
		<string>skydome_light</string>
		<string>sphere</string>
		<string>spherical_camera</string>
		<string>spot_light</string>
		<string>sta_environment</string>
		<string>sta_shading_root</string>
		<string>sta_vector_displacement</string>
		<string>standard</string>
		<string>triangle_filter</string>
		<string>txt2d_image_explicit</string>
		<string>userDataBool</string>
		<string>userDataColor</string>
		<string>userDataFloat</string>
		<string>userDataInt</string>
		<string>userDataPnt2</string>
		<string>userDataString</string>
		<string>utility</string>
		<string>variance_filter</string>
		<string>video_filter</string>
		<string>volume_collector</string>
		<string>volume_scattering</string>
		<string>wireframe</string>
		<string>writeColor</string>
    <!-- Arnold Nodes End -->

    <!-- Arnold Parameters Start -->
    	<string>AA_motionblur_pattern</string>
		<string>AA_pattern</string>
		<string>AA_sample_clamp</string>
		<string>AA_sample_clamp_affects_aovs</string>
		<string>AA_samples</string>
		<string>AA_seed</string>
		<string>Amount</string>
		<string>BlurAlpha</string>
		<string>Brightness</string>
		<string>CCW_points</string>
		<string>DisplayGamma</string>
		<string>EnableMemoryMapping</string>
		<string>EnableMipMap</string>
		<string>Exposure</string>
		<string>FieldType</string>
		<string>FlipX</string>
		<string>FlipY</string>
		<string>Fresnel</string>
		<string>Fresnel_affect_diff</string>
		<string>Fresnel_use_IOR</string>
		<string>GI_diffuse_depth</string>
		<string>GI_diffuse_samples</string>
		<string>GI_falloff_start_dist</string>
		<string>GI_falloff_stop_dist</string>
		<string>GI_glossy_depth</string>
		<string>GI_glossy_samples</string>
		<string>GI_reflection_depth</string>
		<string>GI_refraction_depth</string>
		<string>GI_refraction_samples</string>
		<string>GI_single_scatter_samples</string>
		<string>GI_total_depth</string>
		<string>Gain</string>
		<string>GrayScale</string>
		<string>Head_Size</string>
		<string>Hue</string>
		<string>IOR</string>
		<string>Image</string>
		<string>ImageDefinitionType</string>
		<string>Kb</string>
		<string>Kd</string>
		<string>Kd_color</string>
		<string>Kr</string>
		<string>Kr_color</string>
		<string>Krn</string>
		<string>Ks</string>
		<string>Ks_color</string>
		<string>Ksn</string>
		<string>Ksss</string>
		<string>Ksss_color</string>
		<string>Kt</string>
		<string>Kt_color</string>
		<string>MipMapScale</string>
		<string>Phong_exponent</string>
		<string>Radius</string>
		<string>RenderColorProfile</string>
		<string>RenderGamma</string>
		<string>ResX</string>
		<string>ResY</string>
		<string>Saturation</string>
		<string>SixteenBitsPerChannel</string>
		<string>SourceFileName</string>
		<string>SourceName</string>
		<string>SourceTrack</string>
		<string>TimeSource</string>
		<string>Type</string>
		<string>UsingNormalized</string>
		<string>X</string>
		<string>X_angle</string>
		<string>Xmax</string>
		<string>Xmin</string>
		<string>Y</string>
		<string>Y_angle</string>
		<string>Ymax</string>
		<string>Ymin</string>
		<string>Z</string>
		<string>Z_angle</string>
		<string>abort_on_error</string>
		<string>abort_on_license_fail</string>
		<string>affect_camera</string>
		<string>affect_diffuse</string>
		<string>affect_reflection</string>
		<string>affect_specular</string>
		<string>affect_volumetrics</string>
		<string>alpha</string>
		<string>alpha0</string>
		<string>alphaGain</string>
		<string>alphaIsLuminance</string>
		<string>alphaOffset</string>
		<string>alpha_factor</string>
		<string>alpha_output</string>
		<string>alphacolor</string>
		<string>alt_x</string>
		<string>alt_y</string>
		<string>alt_z</string>
		<string>ambdiff</string>
		<string>ambient</string>
		<string>amplitude</string>
		<string>angle</string>
		<string>animated</string>
		<string>aov_coat</string>
		<string>aov_deep_scatter</string>
		<string>aov_direct_diffuse</string>
		<string>aov_direct_specular</string>
		<string>aov_emission</string>
		<string>aov_indirect_diffuse</string>
		<string>aov_indirect_specular</string>
		<string>aov_mid_scatter</string>
		<string>aov_name</string>
		<string>aov_primary_specular</string>
		<string>aov_reflection</string>
		<string>aov_refraction</string>
		<string>aov_secondary_specular</string>
		<string>aov_shallow_scatter</string>
		<string>aov_single_scatter</string>
		<string>aov_specular</string>
		<string>aov_sss</string>
		<string>aperture_aspect_ratio</string>
		<string>aperture_blade_curvature</string>
		<string>aperture_blades</string>
		<string>aperture_rotation</string>
		<string>aperture_size</string>
		<string>append</string>
		<string>aspect</string>
		<string>aspect_ratio</string>
		<string>atmosphere</string>
		<string>attenuation</string>
		<string>attenuation_mode</string>
		<string>auto_transparency_depth</string>
		<string>auto_transparency_mode</string>
		<string>auto_transparency_threshold</string>
		<string>autobump_visibility</string>
		<string>autocrop</string>
		<string>azimuth</string>
		<string>bInterpolations</string>
		<string>bPositions</string>
		<string>bValues</string>
		<string>background</string>
		<string>backgroundColor</string>
		<string>background_visibility</string>
		<string>bad_bounds_slack</string>
		<string>barndoor_bottom_edge</string>
		<string>barndoor_bottom_left</string>
		<string>barndoor_bottom_right</string>
		<string>barndoor_left_bottom</string>
		<string>barndoor_left_edge</string>
		<string>barndoor_left_top</string>
		<string>barndoor_right_bottom</string>
		<string>barndoor_right_edge</string>
		<string>barndoor_right_top</string>
		<string>barndoor_top_edge</string>
		<string>barndoor_top_left</string>
		<string>barndoor_top_right</string>
		<string>basecolor</string>
		<string>basis</string>
		<string>beauty</string>
		<string>bevel_angle</string>
		<string>bevel_width</string>
		<string>bias</string>
		<string>bilinear</string>
		<string>billow_density</string>
		<string>billow_falloff</string>
		<string>binary_ass</string>
		<string>black</string>
		<string>blend</string>
		<string>blendMode0</string>
		<string>blender</string>
		<string>blue</string>
		<string>boolAttrName</string>
		<string>bottom</string>
		<string>bottom_radius</string>
		<string>bounce_factor</string>
		<string>brightSpread</string>
		<string>bucket_scanning</string>
		<string>bucket_size</string>
		<string>buckets</string>
		<string>bump</string>
		<string>bump_filtered</string>
		<string>bump_height</string>
		<string>bump_inuse</string>
		<string>bump_map</string>
		<string>bump_multiplier</string>
		<string>cache_texture_handles</string>
		<string>callback</string>
		<string>callback_data</string>
		<string>camera</string>
		<string>cast_shadows</string>
		<string>cast_volumetric_shadows</string>
		<string>catchDiffuse</string>
		<string>catchShadows</string>
		<string>center</string>
		<string>centerThresh</string>
		<string>channel1</string>
		<string>channel2</string>
		<string>coat_color</string>
		<string>coat_enable_fresnel_falloff</string>
		<string>coat_ior</string>
		<string>coat_roughness</string>
		<string>coat_weight</string>
		<string>color</string>
		<string>color0</string>
		<string>color1</string>
		<string>color2</string>
		<string>colorAttrName</string>
		<string>colorConnectedToAlpha0</string>
		<string>colorGain</string>
		<string>colorIfFalse</string>
		<string>colorIfTrue</string>
		<string>colorOffset</string>
		<string>color_gradient_input_bias</string>
		<string>color_gradient_interps</string>
		<string>color_gradient_positions</string>
		<string>color_gradient_type</string>
		<string>color_gradient_values</string>
		<string>color_mode</string>
		<string>color_tex_gain</string>
		<string>color_texture</string>
		<string>colorpremulted</string>
		<string>colorsource</string>
		<string>combine_sss_queries</string>
		<string>compositingFlag</string>
		<string>compression</string>
		<string>cone_angle</string>
		<string>contrast</string>
		<string>coord_space</string>
		<string>coordinate_method</string>
		<string>cosine_power</string>
		<string>coverage</string>
		<string>crease_idxs</string>
		<string>curved_motionblur</string>
		<string>custom_attributes</string>
		<string>custom_vector</string>
		<string>cvs</string>
		<string>data</string>
		<string>decay_type</string>
		<string>declare</string>
		<string>decroglmaxsize</string>
		<string>deep_scatter_color</string>
		<string>deep_scatter_radius</string>
		<string>deep_scatter_weight</string>
		<string>default</string>
		<string>defaultColor</string>
		<string>defaultValue</string>
		<string>deform_time_samples</string>
		<string>degree_u</string>
		<string>degree_v</string>
		<string>density</string>
		<string>density_method</string>
		<string>depth</string>
		<string>depthDecay</string>
		<string>depthMax</string>
		<string>depth_max</string>
		<string>diffuse</string>
		<string>diffuseColor</string>
		<string>diffuseRand</string>
		<string>diffuse_cache</string>
		<string>diffuse_color</string>
		<string>diffuse_inuse</string>
		<string>diffuse_roughness</string>
		<string>diffuse_weight</string>
		<string>diffusion</string>
		<string>direct_diffuse</string>
		<string>direct_specular</string>
		<string>direction</string>
		<string>disc_r</string>
		<string>disp_autobump</string>
		<string>disp_height</string>
		<string>disp_map</string>
		<string>disp_padding</string>
		<string>disp_zero_value</string>
		<string>displacement</string>
		<string>displayMode</string>
		<string>distance</string>
		<string>distortion</string>
		<string>dither</string>
		<string>dither_amplitude</string>
		<string>domain</string>
		<string>dropoff_shape</string>
		<string>eccentricity</string>
		<string>eccmax</string>
		<string>edgeThresh</string>
		<string>edge_dropoff</string>
		<string>edge_type</string>
		<string>elevation</string>
		<string>emission</string>
		<string>emission_color</string>
		<string>enableTransparency</string>
		<string>enable_aov_composition</string>
		<string>enable_displacement_derivs</string>
		<string>enable_fast_importance_tables</string>
		<string>enable_fast_lights</string>
		<string>enable_glossy_caustics</string>
		<string>enable_internal_reflections</string>
		<string>enable_matte</string>
		<string>enable_procedural_cache</string>
		<string>enable_reflective_caustics</string>
		<string>enable_refractive_caustics</string>
		<string>enable_sun</string>
		<string>enable_threaded_displacement</string>
		<string>enable_threaded_procedurals</string>
		<string>epsilon</string>
		<string>error_color_bad_mesh</string>
		<string>error_color_bad_pixel</string>
		<string>error_color_bad_shader</string>
		<string>error_color_bad_texture</string>
		<string>exposure</string>
		<string>factor</string>
		<string>falloff</string>
		<string>far_clip</string>
		<string>far_end</string>
		<string>far_start</string>
		<string>field</string>
		<string>filename</string>
		<string>fill_color</string>
		<string>fillerColor</string>
		<string>filter</string>
		<string>filterOffset</string>
		<string>filter_mode</string>
		<string>filter_type</string>
		<string>filtered</string>
		<string>filtermap</string>
		<string>filters</string>
		<string>firstTerm</string>
		<string>fitFill</string>
		<string>fitType</string>
		<string>flip</string>
		<string>flip_g</string>
		<string>flip_r</string>
		<string>floatAttrName</string>
		<string>focus_distance</string>
		<string>format</string>
		<string>fov</string>
		<string>frequency</string>
		<string>frequencyRatio</string>
		<string>frequency_ratio</string>
		<string>fuel_method</string>
		<string>funcptr</string>
		<string>gInterpolations</string>
		<string>gPositions</string>
		<string>gValues</string>
		<string>gain</string>
		<string>gamma</string>
		<string>gamma_correct</string>
		<string>gapColor</string>
		<string>geometry_matrix</string>
		<string>geometry_type</string>
		<string>global_sss_radius_multiplier</string>
		<string>gloss</string>
		<string>gloss2</string>
		<string>glossy</string>
		<string>green</string>
		<string>ground_albedo</string>
		<string>ground_normal</string>
		<string>ground_point</string>
		<string>hInterpolations</string>
		<string>hPositions</string>
		<string>hValues</string>
		<string>hairColor</string>
		<string>hairColorScale</string>
		<string>half_precision</string>
		<string>handedness</string>
		<string>height</string>
		<string>height_edge</string>
		<string>hole</string>
		<string>horizontal_fov</string>
		<string>hueNoise</string>
		<string>hueNoiseFreq</string>
		<string>hueRand</string>
		<string>id</string>
		<string>ignore_atmosphere</string>
		<string>ignore_bump</string>
		<string>ignore_direct_lighting</string>
		<string>ignore_displacement</string>
		<string>ignore_dof</string>
		<string>ignore_lights</string>
		<string>ignore_list</string>
		<string>ignore_mis</string>
		<string>ignore_motion_blur</string>
		<string>ignore_shaders</string>
		<string>ignore_shadows</string>
		<string>ignore_smoothing</string>
		<string>ignore_sss</string>
		<string>ignore_subdivision</string>
		<string>ignore_textures</string>
		<string>ignorecoloralpha</string>
		<string>implode</string>
		<string>implodeCenter</string>
		<string>implode_center</string>
		<string>importance_sampling</string>
		<string>inRgb</string>
		<string>inc_inten</string>
		<string>incand_inuse</string>
		<string>incand_tex_gain</string>
		<string>incand_texture</string>
		<string>incandescence</string>
		<string>incandescence_gradient_input_bias</string>
		<string>incandescence_gradient_interps</string>
		<string>incandescence_gradient_positions</string>
		<string>incandescence_gradient_type</string>
		<string>incandescence_gradient_values</string>
		<string>increment</string>
		<string>incroglmaxsize</string>
		<string>index_of_refraction</string>
		<string>indirect</string>
		<string>indirect_diffuse</string>
		<string>indirect_specular</string>
		<string>inflection</string>
		<string>inherit_xform</string>
		<string>input</string>
		<string>input1</string>
		<string>input2</string>
		<string>inputMax</string>
		<string>inputMin</string>
		<string>intAttrName</string>
		<string>intensity</string>
		<string>interpolation</string>
		<string>invert</string>
		<string>invert_normals</string>
		<string>invert_texture</string>
		<string>invertcoloralpha</string>
		<string>invertmask</string>
		<string>invertrefl</string>
		<string>inverttrans</string>
		<string>kd_ind</string>
		<string>knots_u</string>
		<string>knots_v</string>
		<string>lacunarity</string>
		<string>lens_radius</string>
		<string>levelMax</string>
		<string>levelMin</string>
		<string>light_gamma</string>
		<string>light_group</string>
		<string>light_intensity</string>
		<string>light_list</string>
		<string>lineColor</string>
		<string>line_color</string>
		<string>line_width</string>
		<string>load_at_init</string>
		<string>local</string>
		<string>look_at</string>
		<string>low_light_threshold</string>
		<string>luminaire_bias</string>
		<string>mask</string>
		<string>maskmode</string>
		<string>maskthreshold</string>
		<string>matrix</string>
		<string>matte_color</string>
		<string>max</string>
		<string>max_bounces</string>
		<string>max_displace</string>
		<string>max_shader_messages</string>
		<string>max_subdivisions</string>
		<string>max_subdivs</string>
		<string>maximum</string>
		<string>maxminor</string>
		<string>mesh</string>
		<string>mesh_sanity</string>
		<string>mid_scatter_color</string>
		<string>mid_scatter_radius</string>
		<string>mid_scatter_weight</string>
		<string>min</string>
		<string>min_pixel_width</string>
		<string>mindist_ulp_count</string>
		<string>minimum</string>
		<string>mipBias</string>
		<string>mipmap_bias</string>
		<string>mirrorU</string>
		<string>mirrorV</string>
		<string>mode</string>
		<string>multiply</string>
		<string>mute</string>
		<string>name</string>
		<string>near_clip</string>
		<string>near_end</string>
		<string>near_start</string>
		<string>nidxs</string>
		<string>nlist</string>
		<string>node</string>
		<string>node_name</string>
		<string>noiseFreq</string>
		<string>noiseType</string>
		<string>noiseUV</string>
		<string>normal</string>
		<string>normal_shading</string>
		<string>normalize</string>
		<string>notrace</string>
		<string>nsides</string>
		<string>numInputs</string>
		<string>numWaves</string>
		<string>num_points</string>
		<string>num_waves</string>
		<string>octaves</string>
		<string>offset</string>
		<string>offsetUV</string>
		<string>oglmagfilter</string>
		<string>oglmaxsize</string>
		<string>oglminfilter</string>
		<string>oglmipmap</string>
		<string>oldMax</string>
		<string>oldMin</string>
		<string>opacity</string>
		<string>opacity_gradient_input_bias</string>
		<string>opacity_gradient_interps</string>
		<string>opacity_gradient_positions</string>
		<string>opacity_gradient_type</string>
		<string>opacity_gradient_values</string>
		<string>opacity_tex_gain</string>
		<string>opacity_texture</string>
		<string>opaque</string>
		<string>opaque_alpha</string>
		<string>operation</string>
		<string>orientations</string>
		<string>origin</string>
		<string>outColor</string>
		<string>outMatteOpacity</string>
		<string>outTransparency</string>
		<string>outputMax</string>
		<string>outputMin</string>
		<string>output_padded</string>
		<string>outputs</string>
		<string>param_count</string>
		<string>param_name</string>
		<string>param_value</string>
		<string>penumbra_angle</string>
		<string>phase</string>
		<string>phase_func</string>
		<string>pin_threads</string>
		<string>placementMatrix</string>
		<string>plane_distance</string>
		<string>pnt2AttrName</string>
		<string>point</string>
		<string>points</string>
		<string>position</string>
		<string>preserve_layer_name</string>
		<string>preserve_scene_data</string>
		<string>primary_reflection_color</string>
		<string>primary_reflection_enable_fresnel_falloff</string>
		<string>primary_reflection_fresnel_coefficient</string>
		<string>primary_reflection_reflection_weight</string>
		<string>primary_reflection_roughness</string>
		<string>primary_reflection_specular_weight</string>
		<string>primary_reflection_weight</string>
		<string>procedural_force_expand</string>
		<string>procedural_searchpath</string>
		<string>progressive</string>
		<string>projType</string>
		<string>projective</string>
		<string>quality</string>
		<string>rInterpolations</string>
		<string>rPositions</string>
		<string>rValues</string>
		<string>radiance</string>
		<string>radiance_filter</string>
		<string>radius</string>
		<string>ramp</string>
		<string>ramp_axis</string>
		<string>randomness</string>
		<string>raster_space</string>
		<string>ratio</string>
		<string>raw</string>
		<string>ray_bias</string>
		<string>receive_shadows</string>
		<string>red</string>
		<string>reference_time</string>
		<string>reflect_glossy</string>
		<string>reflect_inuse</string>
		<string>reflect_samples</string>
		<string>reflection</string>
		<string>reflection_exit_color</string>
		<string>reflection_exit_use_environment</string>
		<string>reflectivity</string>
		<string>refract_inuse</string>
		<string>refraction</string>
		<string>refraction_exit_color</string>
		<string>refraction_exit_use_environment</string>
		<string>refraction_roughness</string>
		<string>region_max_x</string>
		<string>region_max_y</string>
		<string>region_min_x</string>
		<string>region_min_y</string>
		<string>repeatUV</string>
		<string>repeats</string>
		<string>resolution</string>
		<string>rgb_attenuation</string>
		<string>rgb_density</string>
		<string>rgba_packing</string>
		<string>ripples</string>
		<string>rolling_shutter</string>
		<string>rootcolor</string>
		<string>rotate</string>
		<string>rotateFrame</string>
		<string>rotateUV</string>
		<string>rotation</string>
		<string>roundness</string>
		<string>sInterpolations</string>
		<string>sPositions</string>
		<string>sValues</string>
		<string>s_wrap</string>
		<string>sample_sss_only_in_gi_rays</string>
		<string>sample_sss_only_in_glossy_rays</string>
		<string>samples</string>
		<string>satNoise</string>
		<string>satNoiseFreq</string>
		<string>satRand</string>
		<string>scalar_mode</string>
		<string>scale</string>
		<string>scale_s</string>
		<string>scale_t</string>
		<string>scalerefl</string>
		<string>scaletrans</string>
		<string>scattering</string>
		<string>screen_window_max</string>
		<string>screen_window_min</string>
		<string>secondTerm</string>
		<string>secondary_reflection_color</string>
		<string>secondary_reflection_enable_fresnel_falloff</string>
		<string>secondary_reflection_fresnel_coefficient</string>
		<string>secondary_reflection_reflection_weight</string>
		<string>secondary_reflection_roughness</string>
		<string>secondary_reflection_specular_weight</string>
		<string>secondary_reflection_weight</string>
		<string>self_shadows</string>
		<string>sflip</string>
		<string>shade_mode</string>
		<string>shader</string>
		<string>shader_gamma</string>
		<string>shader_nan_checks</string>
		<string>shader_searchpath</string>
		<string>shader_timing_stats</string>
		<string>shadow</string>
		<string>shadowColor</string>
		<string>shadowTransparency</string>
		<string>shadow_color</string>
		<string>shadow_density</string>
		<string>shadow_group</string>
		<string>shadow_opacity</string>
		<string>shadow_terminator_fix</string>
		<string>shadows_obey_light_linking</string>
		<string>shaker</string>
		<string>shallow_scatter_color</string>
		<string>shallow_scatter_radius</string>
		<string>shallow_scatter_weight</string>
		<string>shidxs</string>
		<string>shiny</string>
		<string>show_samples</string>
		<string>shutter_end</string>
		<string>shutter_start</string>
		<string>shutter_type</string>
		<string>sidedness</string>
		<string>single_channel</string>
		<string>sizeRand</string>
		<string>size_rand</string>
		<string>skip_alpha</string>
		<string>skip_background_atmosphere</string>
		<string>skip_license_check</string>
		<string>sky_tint</string>
		<string>slidemap</string>
		<string>smoothing</string>
		<string>snowColor</string>
		<string>softEdges</string>
		<string>solid_angle</string>
		<string>solo</string>
		<string>solver</string>
		<string>spec</string>
		<string>spec2</string>
		<string>spec2_color</string>
		<string>spec2_shift</string>
		<string>spec_color</string>
		<string>spec_shift</string>
		<string>specular</string>
		<string>specularColor</string>
		<string>specularPower</string>
		<string>specularRand</string>
		<string>specular_Fresnel</string>
		<string>specular_anisotropy</string>
		<string>specular_brdf</string>
		<string>specular_color</string>
		<string>specular_enable_fresnel_falloff</string>
		<string>specular_inuse</string>
		<string>specular_ior</string>
		<string>specular_rotation</string>
		<string>specular_roughness</string>
		<string>specular_weight</string>
		<string>spottyness</string>
		<string>spread</string>
		<string>sscale</string>
		<string>sss</string>
		<string>sss_bssrdf_samples</string>
		<string>sss_radius</string>
		<string>sss_sample_distribution</string>
		<string>sss_sample_spacing</string>
		<string>sss_subpixel_cache</string>
		<string>sss_weight</string>
		<string>stagger</string>
		<string>standard_shader</string>
		<string>start_channel</string>
		<string>step</string>
		<string>step_size</string>
		<string>stringAttrName</string>
		<string>subdiv_adaptive_metric</string>
		<string>subdiv_dicing_camera</string>
		<string>subdiv_iterations</string>
		<string>subdiv_pixel_error</string>
		<string>subdiv_smooth_derivs</string>
		<string>subdiv_type</string>
		<string>subdiv_uv_smoothing</string>
		<string>sun_direction</string>
		<string>sun_size</string>
		<string>sun_tint</string>
		<string>surfaceColor</string>
		<string>swap_st</string>
		<string>swap_tangents</string>
		<string>swrap</string>
		<string>t_wrap</string>
		<string>tangent</string>
		<string>temperature_method</string>
		<string>tesselate_u</string>
		<string>tesselate_v</string>
		<string>tex</string>
		<string>texture_accept_unmipped</string>
		<string>texture_accept_untiled</string>
		<string>texture_automip</string>
		<string>texture_autotile</string>
		<string>texture_conservative_lookups</string>
		<string>texture_diffuse_blur</string>
		<string>texture_failure_retries</string>
		<string>texture_filter</string>
		<string>texture_gamma</string>
		<string>texture_glossy_blur</string>
		<string>texture_max_memory_MB</string>
		<string>texture_max_open_files</string>
		<string>texture_max_sharpen</string>
		<string>texture_origin_x</string>
		<string>texture_origin_y</string>
		<string>texture_origin_z</string>
		<string>texture_per_file_stats</string>
		<string>texture_rotate</string>
		<string>texture_scale</string>
		<string>texture_searchpath</string>
		<string>texture_sss_blur</string>
		<string>texture_time</string>
		<string>texture_type</string>
		<string>tflip</string>
		<string>thickness</string>
		<string>thread_priority</string>
		<string>threads</string>
		<string>threshold</string>
		<string>tiled</string>
		<string>time</string>
		<string>time0</string>
		<string>time1</string>
		<string>timeRatio</string>
		<string>time_samples</string>
		<string>tipcolor</string>
		<string>top</string>
		<string>top_radius</string>
		<string>torus_u</string>
		<string>torus_v</string>
		<string>trace_opaque_first</string>
		<string>trace_sets</string>
		<string>trans_glossy</string>
		<string>transform_time_samples</string>
		<string>translateFrame</string>
		<string>translucence</string>
		<string>translucency</string>
		<string>translucent_inuse</string>
		<string>transmittance</string>
		<string>transpRange</string>
		<string>transparency</string>
		<string>transparency0</string>
		<string>transparent_samples</string>
		<string>tscale</string>
		<string>tspace_id</string>
		<string>turbidity</string>
		<string>twrap</string>
		<string>type</string>
		<string>uAngle</string>
		<string>uColor</string>
		<string>uWave</string>
		<string>uWidth</string>
		<string>unpremult_alpha</string>
		<string>up</string>
		<string>uparam</string>
		<string>useDefaultColor</string>
		<string>useTransparency0</string>
		<string>use_as</string>
		<string>use_degrees</string>
		<string>use_derivatives</string>
		<string>use_far_atten</string>
		<string>use_light_group</string>
		<string>use_near_atten</string>
		<string>use_screen_compositing_for_colors</string>
		<string>use_shadow_group</string>
		<string>usealpharefl</string>
		<string>usealphatrans</string>
		<string>userptr</string>
		<string>uvCoord</string>
		<string>uv_remap</string>
		<string>uvcoords</string>
		<string>uvidxs</string>
		<string>uvlist</string>
		<string>uvset</string>
		<string>vAngle</string>
		<string>vColor</string>
		<string>vInterpolations</string>
		<string>vPositions</string>
		<string>vValues</string>
		<string>vWave</string>
		<string>vWidth</string>
		<string>valNoise</string>
		<string>valNoiseFreq</string>
		<string>valRand</string>
		<string>value</string>
		<string>vectorDisplacement</string>
		<string>vectorEncoding</string>
		<string>vectorSpace</string>
		<string>veinColor</string>
		<string>veinWidth</string>
		<string>velocity</string>
		<string>velocity_method</string>
		<string>velocity_scale</string>
		<string>vertical_fov</string>
		<string>vidxs</string>
		<string>visibility</string>
		<string>visible0</string>
		<string>vlist</string>
		<string>volume_density</string>
		<string>volume_indirect_samples</string>
		<string>volume_samples</string>
		<string>vparam</string>
		<string>weight</string>
		<string>weight3d</string>
		<string>white</string>
		<string>width</string>
		<string>widthSpread</string>
		<string>width_edge</string>
		<string>wrap</string>
		<string>wrapU</string>
		<string>wrapV</string>
		<string>wrap_s</string>
		<string>wrap_t</string>
		<string>xres</string>
		<string>yres</string>
		<string>zeroValue</string>
		<string>zoom_factor</string>
		<string>zres</string>
    <!-- Arnold Parameters End-->

	</array>
		
	<key>Language Features</key>
	<dict>
		<key>Identifier and Keyword Characters</key>
		<string>0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ_abcdefghijklmnopqrstuvwxyz</string>		

		<key>Open Strings 1</key>
		<string>&quot;</string>
		<key>Close Strings 1</key>
		<string>&quot;</string>
		<key>End-of-line Ends Strings 1</key>
		<true/>
		<key>Escape Char in Strings 1</key>
		<string>\</string>
		
		<key>Open Line Comments</key> <string>;</string>
		<key>PreferLineCommentsWhenCommenting</key>
		<true/>
		
		<key>Comment Pattern</key> 
		<string><![CDATA[
		(?x: 
			(\#.*?$)
		)
		]]></string>
		
		<key>String Pattern</key> 
		<string><![CDATA[ 
		(?x: 
			("(\\"|[^"\r]|\\\r)*") | (?# Double-quote) 
			(?s: 
				<<-?(?P<delim>\w+) (?# Here-document)
				.*?
				(?P=delim)
			)
		)
		]]></string>
		
		<key>Skip Pattern</key> 
		<string><![CDATA[ 
		(?x: 
		(?P>comment) |
		(?P>string)
		)]]></string>
	
  </dict>

</dict>
</plist>
